In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
data = pd.read_csv('cowin_vaccine_data_districtwise.csv',low_memory = False)

In [3]:
fa = open('neighbor-districts-modified.json')
key = json.load(fa)

In [4]:
dist = []
for i in key.keys():
    dist.append(i)

In [5]:
ahem = pd.DataFrame(dist)

In [6]:
ahem.rename(columns = {0:'District_Key'},inplace =True)

In [7]:
type(ahem)

pandas.core.frame.DataFrame

In [8]:
data.columns = data.iloc[0]
data1 = data.iloc[1:]

In [9]:
data1.pop('S No')

1        1
2        2
3        3
4        4
5        5
      ...
750    751
751    752
752    753
753    754
754    755
Name: S No, Length: 754, dtype: object

In [10]:
first = data1[['District_Key','First Dose Administered']].copy()
second =data1[['District_Key','Second Dose Administered']].copy()

In [11]:
int_df_first = pd.merge(ahem, first, how ='inner', on =['District_Key'])
int_df_second = pd.merge(ahem, second, how ='inner', on =['District_Key'])

In [12]:
cols=pd.Series(list(int_df_first.columns))

In [13]:
for dup in cols[cols.duplicated()].unique(): 
    cols[cols[cols == dup].index.values.tolist()] = [dup + '.' + str(i) if i != 0 else dup for i in range(sum(cols == dup))]

In [14]:
int_df_first.columns=cols

In [15]:
first_df = int_df_first.copy(deep=True)

In [16]:
colsa=pd.Series(list(int_df_second.columns))

In [17]:
for dup in colsa[colsa.duplicated()].unique(): 
    colsa[colsa[colsa == dup].index.values.tolist()] = [dup + '.' + str(i) if i != 0 else dup for i in range(sum(colsa == dup))]

In [18]:
int_df_second.columns=colsa

In [19]:
second_df = int_df_second.copy(deep=True)

In [20]:
# because First Dose Administered.210 is total first dose for 14 AUG because the data is commulative
int_df_first['dose 1'] = int_df_first['First Dose Administered.210'].to_list()

In [21]:
# because Second Dose Administered.210 is total first dose for 14 AUG  because the data is commulative
int_df_second['dose 2'] = int_df_second['Second Dose Administered.210'].to_list()

In [22]:
new_first = int_df_first[['District_Key','dose 1']].copy()

In [23]:
new_second = int_df_second[['District_Key','dose 2']].copy()

In [24]:
f = pd.merge(new_first, new_second, how ='inner', on =['District_Key'])

In [25]:
f=f.drop_duplicates(subset=['District_Key'], keep='first')

In [26]:
o_arr = []
txt = 'overall'
for i in range(722):
    o_arr.append(txt)

In [27]:
f['timeid'] = o_arr

In [28]:
f.rename(columns = {'District_Key':'districtid'},inplace =True)

In [29]:
f = f[['districtid','timeid','dose 1','dose 2']]

In [30]:
f.sort_values("districtid", axis = 0, ascending = True,
                 inplace = True, na_position ='last')

In [31]:
f.reset_index(inplace = True)

In [32]:
f.pop('index')

0      608
1      184
2      406
3       73
4      180
      ...
717    233
718    576
719    462
720    547
721    755
Name: index, Length: 722, dtype: int64

In [33]:
ahemx = ahem.copy(deep=True)

In [34]:
ahemx.rename(columns = {'District_Key':'districtid'},inplace =True)

In [35]:
dmx = pd.merge(f, ahemx, how ='inner', on =['districtid'])

In [36]:
dmx.to_csv('vaccinated-count-districts-overall.csv')

In [37]:
int_df_first.pop('dose 1')

0       188736
1       295658
2       238711
3       226470
4       615120
        ...
742    1433962
743     318253
744     255115
745     383729
746    1281779
Name: dose 1, Length: 747, dtype: object

In [38]:
int_df_second.pop('dose 2')

0       58696
1       87375
2       86546
3       56560
4      203038
        ...
742    360371
743     64508
744     48494
745     78267
746    700029
Name: dose 2, Length: 747, dtype: object

In [39]:
int_df_first = int_df_first.dropna()

In [40]:
int_df_second = int_df_second.dropna()

In [41]:
d = int_df_first['District_Key'].copy()

In [42]:
text1 = 'First Dose Administered'
text2 = 'Second Dose Administered'
l_col1 =list(int_df_first.columns)
l_col2 =list(int_df_second.columns)
for i in range(211,229):
    new1 = text1 + '.' + str(i)
    new2 = text2 + '.' + str(i)
    l_col1.remove(new1)
    l_col2.remove(new2)

In [43]:
df1 = int_df_first[l_col1]

In [44]:
df2 = int_df_second[l_col2]

In [45]:
change_list = []
change_list.append('District_Key')
for i in range(211):
    change_list.append(i)

In [46]:
df1.columns = change_list

In [47]:
df2.columns = change_list

In [48]:
dist = df1.pop('District_Key')

In [49]:
df2.pop('District_Key')

0                   TR_Khowai
1                    HP_Kullu
2                  UT_Chamoli
3                OR_Kandhamal
4                    MH_Latur
                ...
742    UP_Gautam Buddha Nagar
743               TN_Dindigul
744               TN_Dindigul
745                JH_Deoghar
746               MH_Kolhapur
Name: District_Key, Length: 742, dtype: object

In [50]:
df1 = df1.dropna()

In [51]:
df2 = df1.dropna()

In [52]:
stu_arr=[]
the = df1.values.tolist()
for i in range(len(the)):
    temp=[]
    s=0
    e=len(the[i])
    for j in range(len(the[i])):
        if s+29<=e:
            s+=29
            val = int(the[i][s])-int(the[i][s-29])
            temp.append(val)
    stu_arr.append(temp)

In [53]:
first_dose = pd.DataFrame(stu_arr)

In [54]:
first_dose['dose1'] = first_dose.mean(axis=1)

In [55]:
first_dose['dose1'] = first_dose['dose1'].apply(np.ceil)

In [56]:
stu_arra=[]
thea = df2.values.tolist()
for i in range(len(thea)):
    tempa=[]
    sa=0
    ea=len(thea[i])
    for j in range(len(thea[i])):
        if sa+29<=ea:
            sa+=29
            vala = int(thea[i][s])-int(thea[i][s-29])
            tempa.append(vala)
    stu_arra.append(tempa)

In [57]:
second_dose = pd.DataFrame(stu_arra)

In [58]:
second_dose['dose2'] = second_dose.mean(axis=1)

In [59]:
second_dose['dose2'] = second_dose['dose2'].apply(np.ceil)

In [60]:
f_d1 = first_dose[['dose1']].copy()

In [61]:
f_d2 = second_dose[['dose2']].copy()

In [62]:
final = pd.concat([f_d1, f_d2], axis=1)

In [63]:
dist = pd.DataFrame(d)

In [64]:
dist.reset_index(inplace = True)

In [65]:
dist.pop('index')

0        0
1        1
2        2
3        3
4        4
      ...
737    742
738    743
739    744
740    745
741    746
Name: index, Length: 742, dtype: int64

In [66]:
ok = pd.concat([dist, final], axis=1)

In [67]:
sen = 'month'
vec = []
for i in range(742):
    vec.append(sen)

In [68]:
ok['timeid'] = vec

In [69]:
ok.rename(columns = {'District_Key':'districtid'},inplace =True)

In [70]:
ok = ok[['districtid','timeid','dose1','dose2']]

In [71]:
ok.sort_values("districtid", axis = 0, ascending = True,inplace = True, na_position ='last')

In [72]:
dmy = pd.merge(ok, ahemx, how ='inner', on =['districtid'])

In [73]:
dmy=dmy.drop_duplicates(subset=['districtid'], keep='first')

In [74]:
dmy.to_csv('vaccinated-count-district-monthly.csv')

In [75]:
copy_a = int_df_first.copy(deep=True)
copy_b = int_df_second.copy(deep=True)

In [76]:
dose_col1 = list(copy_a.columns)
dose_col2 = list(copy_b.columns)
t1 = 'First Dose Administered'
t2 = 'Second Dose Administered'
for i in range(211,229):
    n1 = t1 + '.' + str(i)
    n2 = t2 + '.' + str(i)
    dose_col1.remove(n1)
    dose_col2.remove(n2)

In [77]:
over_df1 = copy_a[dose_col1].copy()
over_df2 = copy_b[dose_col2].copy()

In [78]:
c_l = []
c_l.append('District_Key')
for i in range(211):
    c_l.append(i)

In [79]:
over_df1.columns = c_l
over_df2.columns = c_l

In [80]:
over_df1.pop('District_Key')
over_df2.pop('District_Key')

0                   TR_Khowai
1                    HP_Kullu
2                  UT_Chamoli
3                OR_Kandhamal
4                    MH_Latur
                ...
742    UP_Gautam Buddha Nagar
743               TN_Dindigul
744               TN_Dindigul
745                JH_Deoghar
746               MH_Kolhapur
Name: District_Key, Length: 742, dtype: object

In [81]:
over_df1 = over_df1.dropna()
over_df2 = over_df2.dropna()

In [82]:
sup=[]
the = over_df1.values.tolist()
for i in range(len(the)):
    temp3=[]
    s3=0
    e3=len(the[i])
    for j in range(len(the[i])):
        if s3+7<=e3:
            s3+=7
            val3 = int(the[i][s3])-int(the[i][s3-7])
            temp3.append(val3)
    sup.append(temp3)

In [83]:
f_d = pd.DataFrame(sup)

In [84]:
f_d['dose1'] = f_d.mean(axis=1)

In [85]:
f_d['dose1'] = f_d['dose1'].apply(np.floor)

In [86]:
sup1=[]
the = over_df2.values.tolist()
for i in range(len(the)):
    temp4=[]
    s4=0
    e4=len(the[i])
    for j in range(len(the[i])):
        if s4+7<=e4:
            s4+=7
            val4 = int(the[i][s4])-int(the[i][s4-7])
            temp4.append(val4)
    sup1.append(temp4)

In [87]:
s_d = pd.DataFrame(sup1)

In [88]:
s_d['dose2'] = s_d.mean(axis=1)

In [89]:
s_d['dose2'] = s_d['dose2'].apply(np.ceil)

In [90]:
sha = f_d['dose1'].copy()
shb = s_d['dose2'].copy()

In [91]:
jab = pd.concat([sha, shb], axis=1)

In [92]:
snow = pd.concat([dist, jab], axis=1)

In [93]:
sore = 'week'
rain = []
for i in range(742):
    rain.append(sore)

In [94]:
snow['timeid'] = rain

In [95]:
snow.rename(columns = {'District_Key':'districtid'},inplace =True)

In [96]:
snow = snow[['districtid','timeid','dose1','dose2']]

In [97]:
snow.to_csv('vaccinated-count-district-weekly.csv')

In [98]:
snow.sort_values("districtid", axis = 0, ascending = True,inplace = True, na_position ='last')

In [99]:
snow.reset_index(inplace = True)

In [100]:
snow.pop('index')

0      564
1      170
2      379
3       70
4      166
      ...
737    536
738    537
739    429
740    511
741    510
Name: index, Length: 742, dtype: int64

In [101]:
snow=snow.drop_duplicates(subset=['districtid'], keep='first')

In [102]:
ahemnew = ahem.copy(deep = True)

In [103]:
ahemnew.rename(columns = {'District_Key':'districtid'},inplace =True)

In [104]:
dm = pd.merge(snow, ahemnew, how ='inner', on =['districtid'])

In [105]:
dm.to_csv('vaccinated-count-district-weekly.csv')