In [1]:
import pandas as pd
import json

In [2]:
f = open('neighbor-districts-modified.json',)
data = json.load(f)

In [3]:
key = []
for i in data.keys():
    key.append(i)

In [4]:
key.sort()

In [5]:
dist_key = pd.DataFrame(key)

In [6]:
dist_key.rename(columns = {0:'District_Key'}, inplace = True)

In [7]:
the_a = pd.read_csv("districts.csv")
the_a['Date'] = pd.to_datetime(the_a['Date'])
the_a=the_a.sort_values('Date')

In [8]:
the_b = the_a[["Date","District","Confirmed"]].copy()
the_b.sort_values(["Date"],axis=0,ascending=[True],inplace=True)

In [9]:
mask = (the_b['Date'] >= '2020-2-15') & (the_b['Date'] <= '2021-8-14')
ravi = the_b.loc[mask]

In [10]:
the_c = pd.read_csv("cowin_vaccine_data_districtwise.csv",low_memory=False)
dist_dist_keys = the_c[["District","District_Key"]].copy()

In [11]:
final_dist_key = pd.merge(dist_key, dist_dist_keys, how ='inner', on =["District_Key"])

In [12]:
stuff = pd.merge(ravi, final_dist_key, how ='inner', on =["District"])
stuff.pop('District')

0            Tumakuru
1            Tumakuru
2            Tumakuru
3            Tumakuru
4            Tumakuru
             ...
277154    Lakshadweep
277155    Lakshadweep
277156    Lakshadweep
277157    Lakshadweep
277158    Lakshadweep
Name: District, Length: 277159, dtype: object

In [13]:
stuff = stuff[['District_Key','Date','Confirmed']]
dictabc = {
        'District_Key': 'districtid',
        'Date':'timeid',
        'Confirmed':'cases'
       }
stuff.rename(columns=dictabc,inplace=True)

In [14]:
dist_arr=[]
for i in stuff['districtid']:
    dist_arr.append(i)

new_stuff = pd.DataFrame(dist_arr)
dicta = {
        0: 'districtid',
       }
new_stuff.rename(columns=dicta,inplace=True)

In [15]:
new_stuff=new_stuff.drop_duplicates(subset='districtid',keep='first')
new_stuff.size

623

In [16]:
cases_sum=[]
for i in new_stuff["districtid"]:
    cases_sum.append(stuff[stuff['districtid']==i].cases.sum())

In [17]:
overall_cases = pd.DataFrame(cases_sum)
Name_list = new_stuff["districtid"].tolist()
overall_cases['districtid']=Name_list

In [18]:
dictb = {
        0: 'cases',
       }
overall_cases.rename(columns=dictb,inplace=True)

In [19]:
overall_cases = overall_cases[['districtid','cases']]

In [20]:
ahem = []
txt='overall'
for i in range(623):
    ahem.append(txt)

In [21]:
overall_cases['timeid'] = ahem
overall_cases = overall_cases[['districtid','timeid','cases']]
overall_cases.to_csv('cases-overall.csv')

In [22]:
res = stuff.copy(deep=True)

In [23]:
res['monthid'] = pd.DatetimeIndex(res['timeid']).month

In [24]:
res= res[['districtid','monthid','cases']]

In [25]:
res.to_csv('cases-month.csv')

In [26]:
new_r = ravi.copy(deep=True)

In [27]:
new_r['weekid'] = new_r['Date'].dt.isocalendar().week

In [28]:
new_r

             Date        District  Confirmed  weekid
3174   2020-03-05        Tumakuru          7      10
3180   2020-03-05          Idukki         24      10
3179   2020-03-05       Ernakulam         24      10
3178   2020-03-05       Alappuzha          5      10
3176   2020-03-05  Uttara Kannada         11      10
...           ...             ...        ...     ...
306658 2021-08-14           Patna     146846      32
306657 2021-08-14          Nawada      10345      32
306656 2021-08-14         Nalanda      23424      32
306633 2021-08-14          Araria      14963      32
306663 2021-08-14           Saran      23267      32

[278837 rows x 4 columns]

In [29]:
# new_r['weekid'] = pd.DatetimeIndex(new_r['Date']).week

In [30]:
new_r.sort_values("District", axis = 0, ascending = True,
                 inplace = True, na_position ='last')

In [31]:
new_r.reset_index(inplace = True)

In [32]:
new_r.pop('index')

0         112526
1          11801
2         125653
3         238591
4          44292
           ...
278832    199244
278833     34561
278834    109315
278835     76472
278836    231437
Name: index, Length: 278837, dtype: int64

In [33]:
new_r.pop('Date')

0        2020-10-22
1        2020-05-20
2        2020-11-11
3        2021-02-05
4        2020-10-07
            ...
278832   2021-03-03
278833   2020-06-25
278834   2020-10-17
278835   2020-08-28
278836   2021-04-21
Name: Date, Length: 278837, dtype: datetime64[ns]

In [34]:
new_r.rename(columns = {'District':'districtid','Confirmed':'cases'}, inplace = True)

In [35]:
new_r = new_r[['districtid','weekid','cases']]

In [36]:
l_new = new_r.sort_values(['districtid', 'weekid'], ascending=[True, True])

In [37]:
new_thing = l_new.groupby(['districtid','weekid'])['cases'].sum().reset_index()

In [38]:
new_thing.rename(columns = {'districtid':'District','Confirmed':'cases'}, inplace = True)

In [39]:
la_stuff = pd.merge(dist_key, final_dist_key, how ='inner', on =["District_Key"])

In [40]:
stuff_new  = pd.merge(la_stuff, new_thing, how ='inner', on =["District"])

In [41]:
stuff_new.pop('District')

0             Anantapur
1             Anantapur
2             Anantapur
3             Anantapur
4             Anantapur
              ...
34318    Uttar Dinajpur
34319    Uttar Dinajpur
34320    Uttar Dinajpur
34321    Uttar Dinajpur
34322    Uttar Dinajpur
Name: District, Length: 34323, dtype: object

In [42]:
stuff_new.rename(columns = {'District_Key':'districtid'}, inplace = True)

In [43]:
stuff_new.to_csv('cases-week.csv')