In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('cowin_vaccine_data_districtwise.csv',low_memory=False)

In [3]:
data = data.rename(columns=data.iloc[0])

In [4]:
data = data.drop('Sessions',axis=1)

In [5]:
data = data.drop(['S No','District_Key','Cowin Key'],axis=1)

In [6]:
data1 = data[['State_Code','State','First Dose Administered','Second Dose Administered']].copy()

In [7]:
data1 = data1.iloc[1:,:]

In [8]:
cols = []
count = 1
for column in data1.columns:
    if column == 'First Dose Administered':
        cols.append(f'First Dose Administered{count}')
        count+=1
        continue
    cols.append(column)
data1.columns = cols

In [9]:
cols = []
count = 1
for column in data1.columns:
    if column == 'Second Dose Administered':
        cols.append(f'Second Dose Administered{count}')
        count+=1
        continue
    cols.append(column)
data1.columns = cols

In [10]:
df2 = data1.filter(regex='First Dose')

In [11]:
df3 = data1.filter(regex='Second Dose')

In [12]:
newstuff = data1[['State_Code','State']].copy()

In [13]:
val1 = pd.concat([newstuff, df2], axis=1)
val2 = pd.concat([newstuff, df3], axis=1)

In [14]:
# since the data is commulative First Dose Administered211 is the total number of first doses since 14 AUG
new_val1 = val1[['State_Code','State','First Dose Administered211']].copy()

In [15]:
# since the data is commulative Second Dose Administered211 is the total number of first doses since 14 AUG
new_val2 = val2[['State_Code','State','Second Dose Administered211']].copy()

In [16]:
new_val1.rename(columns = {'State_Code':'stateid','First Dose Administered211':'dose1'}, inplace = True)

In [17]:
new_val2.rename(columns = {'State_Code':'stateid','Second Dose Administered211':'dose2'}, inplace = True)

In [18]:
new_val2['dose2'] = pd.to_numeric(new_val2['dose2'])

In [19]:
new_val1['dose1'] = pd.to_numeric(new_val1['dose1'])

In [20]:
fin_1 = new_val1.groupby(['stateid','State'])['dose1'].sum().reset_index()

In [21]:
fin_2 = new_val2.groupby(['stateid','State'])['dose2'].sum().reset_index()

In [22]:
int_df = pd.merge(fin_1, fin_2, how ='inner', on =['stateid','State'])

In [23]:
int_df.pop('State')

0                  Andaman and Nicobar Islands
1                               Andhra Pradesh
2                            Arunachal Pradesh
3                                        Assam
4                                        Bihar
5                                   Chandigarh
6                                 Chhattisgarh
7                                        Delhi
8     Dadra and Nagar Haveli and Daman and Diu
9                                          Goa
10                                     Gujarat
11                            Himachal Pradesh
12                                     Haryana
13                                   Jharkhand
14                           Jammu and Kashmir
15                                   Karnataka
16                                      Kerala
17                                      Ladakh
18                                 Lakshadweep
19                                 Maharashtra
20                                   Meghalaya
21                                     Manipur
22                              Madhya Pradesh
23                                     Mizoram
24                                    Nagaland
25                                      Odisha
26                                      Punjab
27                                  Puducherry
28                                   Rajasthan
29                                      Sikkim
30                                   Telangana
31                                  Tamil Nadu
32                                     Tripura
33                               Uttar Pradesh
34                                 Uttarakhand
35                                 West Bengal
Name: State, dtype: object

In [24]:
o_arr = []
txt = 'overall'
for i in range(36):
    o_arr.append(txt)

In [25]:
int_df['timeid'] = o_arr

In [26]:
int_df = int_df[['stateid','timeid','dose1','dose2']]

In [27]:
int_df.to_csv('vaccinated-count-state-overall.csv')

In [28]:
k_state = val1['State_Code'].copy()

In [29]:
new_k_state = k_state.to_frame()

In [30]:
text1 = 'First Dose Administered'
text2 = 'Second Dose Administered'
l_col1 =list(val1.columns)
l_col2 =list(val2.columns)
for i in range(212,230):
    new1 = text1 + str(i)
    new2 = text2+str(i)
    l_col1.remove(new1)
    l_col2.remove(new2)

In [31]:
dfx = val1[l_col1].copy()
dfy = val2[l_col2].copy()

In [32]:
dfx = dfx.dropna()
dfy = dfy.dropna()

In [33]:
dfx.pop('State_Code')

1      AN
2      AN
3      AN
4      AP
5      AP
       ..
749    WB
750    WB
751    WB
752    WB
754    WB
Name: State_Code, Length: 749, dtype: object

In [34]:
dfx.pop('State')

1      Andaman and Nicobar Islands
2      Andaman and Nicobar Islands
3      Andaman and Nicobar Islands
4                   Andhra Pradesh
5                   Andhra Pradesh
                  ...
749                    West Bengal
750                    West Bengal
751                    West Bengal
752                    West Bengal
754                    West Bengal
Name: State, Length: 749, dtype: object

In [35]:
dfy.pop('State_Code')

1      AN
2      AN
3      AN
4      AP
5      AP
       ..
749    WB
750    WB
751    WB
752    WB
754    WB
Name: State_Code, Length: 749, dtype: object

In [36]:
dfy.pop('State')

1      Andaman and Nicobar Islands
2      Andaman and Nicobar Islands
3      Andaman and Nicobar Islands
4                   Andhra Pradesh
5                   Andhra Pradesh
                  ...
749                    West Bengal
750                    West Bengal
751                    West Bengal
752                    West Bengal
754                    West Bengal
Name: State, Length: 749, dtype: object

In [37]:
stu_arr=[]
the = dfx.values.tolist()
for i in range(len(the)):
    temp=[]
    s=0
    e=len(the[i])
    for j in range(len(the[i])):
        if s+29<=e:
            s+=29
            val = int(the[i][s])-int(the[i][s-29])
            temp.append(val)
    stu_arr.append(temp)

In [38]:
first_dose = pd.DataFrame(stu_arr)

In [39]:
first_dose['dose1'] = first_dose.mean(axis=1)

In [40]:
first_dose['dose1'] = first_dose['dose1'].apply(np.ceil)

In [41]:
stu_arra=[]
thea = dfy.values.tolist()
for i in range(len(thea)):
    tempa=[]
    sa=0
    ea=len(thea[i])
    for j in range(len(thea[i])):
        if sa+29<=ea:
            sa+=29
            vala = int(thea[i][s])-int(thea[i][s-29])
            tempa.append(vala)
    stu_arra.append(tempa)

In [42]:
second_dose = pd.DataFrame(stu_arra)

In [43]:
second_dose['dose2'] = second_dose.mean(axis=1)

In [44]:
second_dose['dose2'] = second_dose['dose2'].apply(np.ceil)

In [45]:
f_d1 = first_dose[['dose1']].copy()

In [46]:
f_d2 = second_dose[['dose2']].copy()

In [47]:
final = pd.concat([f_d1, f_d2], axis=1)

In [48]:
n_data1 = data1.copy(deep=True)

In [49]:
n_data1 = n_data1.dropna()

In [50]:
keyn_data1 = n_data1[['State_Code']].copy()

In [51]:
keyn_data1.reset_index(inplace = True)

In [52]:
keyn_data1.pop('index')

0        1
1        2
2        3
3        4
4        5
      ...
744    749
745    750
746    751
747    752
748    754
Name: index, Length: 749, dtype: int64

In [53]:
ok = pd.concat([keyn_data1, final], axis=1)

In [54]:
sen = 'month'
vec = []
for i in range(749):
    vec.append(sen)

In [55]:
ok['timeid'] = vec

In [56]:
ok.rename(columns = {'State_Code':'stateid'},inplace =True)

In [57]:
ok = ok[['stateid','timeid','dose1','dose2']]

In [58]:
ok.to_csv('vaccinated-count-states-monthly.csv')

In [59]:
copy_a = val1.copy(deep=True)
copy_b = val2.copy(deep=True)

In [60]:
copy_a = copy_a.dropna()
copy_b = copy_b.dropna()

In [61]:
copy_a.pop('State_Code')

1      AN
2      AN
3      AN
4      AP
5      AP
       ..
749    WB
750    WB
751    WB
752    WB
754    WB
Name: State_Code, Length: 749, dtype: object

In [62]:
copy_a.pop('State')

1      Andaman and Nicobar Islands
2      Andaman and Nicobar Islands
3      Andaman and Nicobar Islands
4                   Andhra Pradesh
5                   Andhra Pradesh
                  ...
749                    West Bengal
750                    West Bengal
751                    West Bengal
752                    West Bengal
754                    West Bengal
Name: State, Length: 749, dtype: object

In [63]:
copy_b.pop('State_Code')

1      AN
2      AN
3      AN
4      AP
5      AP
       ..
749    WB
750    WB
751    WB
752    WB
754    WB
Name: State_Code, Length: 749, dtype: object

In [64]:
copy_b.pop('State')

1      Andaman and Nicobar Islands
2      Andaman and Nicobar Islands
3      Andaman and Nicobar Islands
4                   Andhra Pradesh
5                   Andhra Pradesh
                  ...
749                    West Bengal
750                    West Bengal
751                    West Bengal
752                    West Bengal
754                    West Bengal
Name: State, Length: 749, dtype: object

In [65]:
san=[]
the = copy_a.values.tolist()
for i in range(len(the)):
    temp1=[]
    s1=0
    e1=len(the[i])
    for j in range(len(the[i])):
        if s1+7<=e1:
            s1+=7
            val1 = int(the[i][s1])-int(the[i][s1-7])
            temp1.append(val1)
    san.append(temp1)

In [66]:
do1 = pd.DataFrame(san)

In [67]:
do1['dose1'] = do1.mean(axis=1)

In [68]:
do1['dose1'] = do1['dose1'].abs()

In [69]:
do1['dose1'] = do1['dose1'].apply(np.ceil)

In [70]:
sana=[]
thex = copy_b.values.tolist()
for i in range(len(thex)):
    temp2=[]
    s2=0
    e2=len(thex[i])
    for j in range(len(thex[i])):
        if s2+7<=e2:
            s2+=7
            val2 = int(thex[i][s2])-int(thex[i][s2-7])
            temp2.append(val2)
    sana.append(temp2)

In [71]:
do2 = pd.DataFrame(sana)

In [72]:
do2['dose2'] = do2.mean(axis=1)

In [73]:
do2['dose2'] = do2['dose2'].abs()

In [74]:
do2['dose2'] = do2['dose2'].apply(np.ceil)

In [75]:
s_d1 = do1[['dose1']].copy()
s_d2 = do2[['dose2']].copy()

In [76]:
finalx = pd.concat([s_d1, s_d2], axis=1)

In [77]:
oka = pd.concat([keyn_data1, finalx], axis=1)

In [78]:
jafa = 'week'
some = []
for i in range(749):
    some.append(jafa)

In [79]:
oka['timeid'] = some

In [80]:
oka.rename(columns = {'State_Code':'stateid'},inplace =True)

In [81]:
oka = oka[['stateid','timeid','dose1','dose2']]

In [82]:
oka.to_csv('vaccinated-count-states-weekly.csv')